<p class="message">{{message}}</p>
<div class="container">
  <div class="left">
    <app-traffic-light [stateIndex]="state % 4" [position]="'left'" [isSwitchedOn]="isSystemSwitchedOn" (onButtonClickChange)="updateMessage($event)"></app-traffic-light>
  </div>
  <div class="top">
    <app-traffic-light [stateIndex]="(state + 2) % 4" [position]="'top'" [isSwitchedOn]="isSystemSwitchedOn" (onButtonClickChange)="updateMessage($event)"></app-traffic-light>
  </div>
  <div class="right">
    <app-traffic-light [stateIndex]="state % 4" [position]="'right'" [isSwitchedOn]="isSystemSwitchedOn" (onButtonClickChange)="updateMessage($event)"></app-traffic-light>
  </div>
  <div class="bottom">
    <app-traffic-light [stateIndex]="(state + 2) % 4" [position]="'bottom'" [isSwitchedOn]="isSystemSwitchedOn" (onButtonClickChange)="updateMessage($event)"></app-traffic-light>
  </div>
  <div class="center">
    <button class="dangerButton" [disabled]="!isDangerButtonEnabled" (click)="triggerDangerButton()">Авария</button>
  </div> 
</div>